
html{
     font: 400 15px Arial, sans-serif;
}

body{
    color:black;
	text-align: center;
     
  }
  
.fullscreen{
	text-align: center;
	box-shadow: 1px 1px gray;
    border: 0.2px solid gray;
	background: #e6baba;
	font-size: 22px;
}
.calculadoraDeCalorias{
    max-width: 2000px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px gray;
    background: #e6baba;
    color:white;
}

button{
    fill:unset;
    text-align: center;
    padding: 15%;
    box-shadow: 1px 1px gray;
    border: 0.2px solid gray;
    padding-bottom: 30px;
    padding-top: 30px; 
}

.calculadoraDeCalorias input   {
    background: none;
    border: unset;
    box-shadow: none;
    outline: none;
  
    padding: 20px 10px;
    width: 90%;

    color:black;
    background: #e6baba;
  
    text-align: center;
    font-size: 40px;
    border-radius: 0;
  }


.calculadoraDeCalorias-botones{
   display: grid;
 
   text-align:center;
   grid-template-columns: 1fr 1fr 1fr;
   background: #e6baba; 
   
   color: white;
    
   border-radius: 5px;
   font-size: 22px; 
   cursor: pointer;
   padding:15px 30px;
}


button:active{
    color: white;
    background-color: #A28585 !important;
}




