@charset "utf-8";
body {
    max-width: 60%;
    margin: auto;
    padding: 10px;
    background-color: #e6baba;
	color: black;
	text-align: justify;
}
p{
    font-size: 120%;
}

h2{
    font-size: 200%;
}

h3{
    font-size: 130%;
}
.hamburguesas{
	text-align: center;
}
.complementos{
	text-align: center;
}
.mapa {
    height: 500px;
    width: 100%;
}

::placeholder {
  font-size: 150%;
}
#nombre{
	height:50px;
	margin-bottom: 20px;
}
#apellido{
	height:50px;
	margin-bottom: 20px;
}
#dni{
	height:50px;
	margin-bottom: 20px;
}
form label{
	font-size: 120%;
}
.botonesForm{
	display: flex;
	text-align: center;
	background: #e6baba;
	color: black;
	font-size: 25px;
	margin-right: 30px;
	margin-bottom: 20px;
}
