@charset "utf-8";
body {
    max-width: 60%;
    margin: auto;
    padding: 10px;
    background-color: #e6baba;
	text-align: justify;
}
p{
    font-size: 120%;
}

h2{
    font-size: 200%;
}

h3{
    font-size: 130%;
}
.hamburguesas{
	text-align: center;
}
.complementos{
	text-align: center;
}
.mapa {
    height: 500px;
    width: 100%;
}
.mensajeRellenarCampos{
	font-size: 70%;
}